:root {
  --clr-1: #1b96ff;
  --clr-2: #29ae13;
  --clr-3: #888888;
  --kt_checklist__clr-green: green;
  --kt_checklist__clr-red: red;
  --kt_checklist__clr-orange: orange;

  --clr-black: #181818;
  --bg-clr: #ffffff;
  --bg-clr1: #fafafa;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  
}

.kt_checklist.kt_checklist__index{
    /* min-width: 280px; */
    overflow-x: auto;
}

.kt_checklist.kt_checklist__details section{
  /* min-width: 270px; */
  overflow-x: auto;
}

.kt_checklist__index_filter-pill  lightning-pill .slds-pill{
    --slds-c-pill-color-background: var(--clr-1);
    --slds-c-icon-color-foreground : white;
    padding-left: 0.5rem;
    color: white;
}


/* .sldc-color-background-alt {
  background-color: var(--bg-clr);
} */

.kt_checklist .sldc-color-background-alt {
  background-color: var(--bg-clr);
}

.kt_checklist__button {
  background: var(--clr-1);
  border: 1px solid var(--clr-1);
}

.kt_checklist__button1 {
  background: var(--clr-1);
  border: 1px solid var(--clr-1);
}

.kt_checklist__clr-light {
  color: var(--clr-3);
}

/* Commented on DT 13 Nov 2024 as we are not using
.dark {
  color: var(--clr-black);
  fill: var(--clr-black);
}

.g-txt {
  color: #29ae13;
}
*/

.kt_checklist__index_maindiv {
  /* max-width: 579px; */
  width: 100%;
  margin: 0 auto;
}

.kt_checklist__index_logo .slds-button .slds-button__icon {
  fill: var(--bg-clr);
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 0;
}

.kt_checklist__index_logo .slds-button {
  width: 40px;
  height: 40px;
}

.kt_checklist__button .slds-button {
  padding: 8px 32px;
}

.kt_checklist__dialog_col-1 {
  flex: 1 1 230px;
}

.kt_checklist__box-inn .slds-grid.slds-wrap.slds-grid_align-space {
  gap: 32px;
}

.kt_checklist__Accordion-index {
  border: none;
}

.kt_checklist__Accordion-index .slds-accordion__section {
  border-radius: 5.927px;
  border: 0.741px solid rgba(0, 0, 0, 0.1);
  background: #fafafa;
}

.kt_checklist__Accordion-index .slds-accordion__list-item {
  border-top: 0;
}

/* Commented on DT 13 Nov 2024 as we are not using
.progress-bar .slds-progress-bar.slds-progress-bar_medium.slds-progress-bar_circular {
  width: 90%;
}

.unlinked {
  fill: #d61616;
  transform: rotate(0deg);
  width: 24.01px;
  height: 24.01px;
}
*/

.kt_checklist__noDropPointer {
  cursor: no-drop;
}

.kt_checklist__cursorPointer {
  cursor: pointer;
}

.kt_checklist__clr-blue {
  color: var(--clr-1);
  font-size: 14px;
}

.kt_checklist__clr-green {
  color: var(--kt_checklist__clr-green);
  font-size: 14px;
}

.kt_checklist__clr-red {
  color: var(--kt_checklist__clr-red);
  font-size: 14px;
}

.kt_checklist__clr-orange {
  color: var(--kt_checklist__clr-orange);
  font-size: 14px;
}

/*  Commented on DT 13 Nov 2024 as we are not using
.accordion-icon {
  border-color: #181818;
}
*/

/***************************************** BOX-2 */
/*  Commented on DT 13 Nov 2024 as we are not using
.checklist-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.kt_checklist__checklist-box {
  max-width: 559px;
  width: 100%;
  margin: 0 auto;
}

/* Commented because of icon small issue 
.slds-dropdown-trigger .slds-button__icon {
  / * fill:#FFF; * /
  padding: 5px;
  width: 30px;
  height: 30px;
} */

.kt_checklist__dialog_box {
  border-radius: 4px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.kt_checklist__box-inn .kt_checklist__dialog_col-1,
.kt_checklist__box-inn .col-1 {
  background: var(--bg-clr1);
  border-radius: 8px;
}

/* Commented on DT 13 Nov 2024 as we are not using
.checklist-2 .slds-text-heading_medium.slds-text-align_center.slds-text-heading_medium {
  font-weight: 500;
  font-size: 22px;
}
*/

/****************************************checklist with template****/
/* Commented on DT 13 Nov 2024 as we are not using
.checklist-3 {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
*/

/* Commented this to avoid all standad override we added below for more presize the element
.slds-input,
.slds-textarea {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  / * background: var(--bg-clr1); * /
  padding: 16px;
  height: 48px;
} */


.kt_checklist__add-item-form .slds-input,
.kt_checklist__add-item-form .slds-textarea {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* background: var(--bg-clr); */
  /* padding: 16px; */
  height: 48px;
}


.kt_checklist__add-item-form .slds-input-has-icon .slds-input__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-top: -0.6375rem;
}

.kt_checklist__picklist .slds-combobox__input {
  border-radius: 8px;
  align-items: center;
  padding: 16px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.kt_checklist__lookup .slds-input{
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 48px;
}

/* Commented on DT 13 Nov 2024 as we are not using\
.checklist-3 .slds-form-element__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
*/

/* Commented this to avoid the Standard components button override
button {
  font-size: medium;
} */

/*****************************************************Checklist Without Template*********/
/* Commented on DT 13 Nov 2024 as we are not using
.checklist-4 {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 120px 0;
}
*/

.kt_checklist .slds-form-element__label {
  color: var(--clr-black);
  font-size: 14px;
  line-height: 32px;
  font-weight: var(--fw-500);
}

.kt_checklist .slds-form-element__icon {/* removed .slds-form-element__label'*/
  vertical-align: text-bottom;
}

.kt_checklist__btn-save button {
  padding: 4px 32px;
}

.kt_checklist__btn-save button.slds-button_brand {
  background: var(--clr-1);
  border-color: var(--clr-1);
}

/* Commented on DT 13 Nov 2024 as we are not using
.button-tick {
  left: 86%;
}
*/

.kt_checklist ::placeholder,
.kt_checklist__button-cancel,
.kt_checklist__dialog_txt-small {
  color: var(--clr-3);
}

.kt_checklist__button-cancel .slds-button {
  padding:8px 32px;
}

/*****checklist with template***/
/* Commented on DT 13 Nov 2024 as we are not using
.checklist {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
*/

.kt_checklist__chevron {
  width: 20px;
  padding: 3px;
  height: 20px;
  border-radius: 4px;
}

.kt_checklist__checklist-inner {
  background-color: var(--bg-clr);
}

/* Commented on DT 13 Nov 2024 as we are not using
.checklist .slds-page-header {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid var(--clr-3);
  background-color: #ffffff;
  border-radius: 0;
}

.Tab-main .slds-tabs_default__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  height: 100vh;
}
*/

.kt_checklist__my-checklist .slds-tabs_default__item.slds-is-active {
  color: var(--clr-1);
  font-weight: var(--fw-500);
}

/***mobile-view**/
/* Commented on DT 13 Nov 2024 as we are not using
.mobile-view.slds-page-header__controls {
  justify-content: flex-end;
  display: none;
}

.btn-list {
  width: 100%;
  justify-content: flex-end;
}

.brand-mini {
  padding: 0;
  border-radius: 4px !important;
}
*/

.kt_checklist__index_section .slds-button {
  border-radius: 4px !important;
}

/* Commented on DT 13 Nov 2024 as we are not using
.open-menu-curtain {
  width: 100%;
  height: 0%;
  position: relative; 
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999999;
}

.open-menu-list {
  width: 100%;
  height: auto;
  background: #ffffff;
  z-index: 11;
  bottom: -100%;
  opacity: 0;
  visibility: hidden;
}

.o-list button {
  width: 100%;
  justify-content: flex-start;
  color: var(--clr-black);
  height: 44px;
}

.o-list button svg {
  fill: var(--clr-1);
}
*/

/*************************************************CREATE/EDIT NEW CHECKLIST TEMPLATE  *********/
/* Commented on DT 13 Nov 2024 as we are not using
#combobox-label-id-18 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*/

/**************************************checklist template/Empty State***/
.kt_checklist__empty-state-vrtl .slds-vertical-tabs__nav,
.kt_checklist__empty-state-vrtl .slds-vertical-tabs__content {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fafafa;
  width: 18rem;  
}

.kt_checklist__empty-state {
  height: 100vh;
}

.kt_checklist__empty-state-vrtl.slds-vertical-tabs {
  height: 100%;
  border: none;
}

.kt_checklist__my-checklist .slds-vertical-tabs__nav-item {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.kt_checklist__my-checklist .slds-vertical-tabs__nav-item.slds-is-active {
  background: #0176d3;
  color: #fff !important;
}


.kt_checklist__my-checklist .slds-vertical-tabs__nav-item.slds-is-active .slds-vertical-tabs__link:hover,
.kt_checklist__my-checklist .slds-vertical-tabs__nav-item .slds-vertical-tabs__link:hover,
.kt_checklist__my-checklist .slds-vertical-tabs__nav-item .slds-vertical-tabs__link[aria-selected="true"] { 	/* aria-selected condition added */
  background: #0176d3;
  color: #fff;
}

.kt_checklist__my-checklist .slds-vertical-tabs__nav-item:hover .slds-truncate {
  color: #ffffff;
}

.kt_checklist__my-checklist .slds-vertical-tabs__nav-item:hover .kt_checklist__vrtl-icon,
.kt_checklist__my-checklist .slds-vertical-tabs__nav-item.slds-is-active .kt_checklist__vrtl-icon {
  fill: var(--bg-clr);
}

.kt_checklist__vrtl-icon {
  fill: var(--clr-1);
}

.kt_checklist__empty-state-vrtl .slds-vertical-tabs__link {
  gap: 8px;
}


/* Commented on DT 13 Nov 2024 as we are not using vrtl-icon-container class.
.kt_checklist__my-checklist .slds-vertical-tabs__nav-item.slds-is-active .vrtl-icon-container,
.kt_checklist__my-checklist .slds-vertical-tabs__nav-item:hover .vrtl-icon-container {
  border-color: var(--bg-clr);
}

.vrtl-icon-container {
  border-color: #0176d3;
  transition: all .15s ease-in-out;
}

*/

/* Commented on DT 13 Nov 2024 as we are not using
.vrtl-tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1.5rem;
}

/*************My Checklist *******/
.kt_checklist__my-checklist .kt_checklist__empty-state {
  height: 100%;
}

.kt_checklist__vrtl-state-tab .slds-vertical-tabs__content {
  padding: none;
}

.kt_checklist__navItem_vrtl-accordion {
  margin-left: 0 !important;
  list-style: none !important;
  border: none !important;
}

.kt_checklist__vrtl-state-tab .slds-vertical-tabs__content {
  border: none !important;
}

.kt_checklist__navItem_vrtl-accordion-list-item .slds-accordion__summary.slds-grid_align-spread,
.kt_checklist__navItem_vrtl-accordion-list-item .slds-accordion__summary {
  flex-direction: column;
}

/* Commented on DT 13 Nov 2024 as we are not using
.vrtl-bar {
  display: flex;
  justify-content: flex-end;
}

.vrtl-bar #progress-bar-label-id-3 {
  width: 12%;
  gap: 10px;
}
*/

/* .slds-avatar {
  border-radius: 50%;
} */




@media (max-width: 991px) {
  /* Commented on DT 13 Nov 2024 as we are not using
  .mobile-view.slds-page-header__controls {
      display: block;
  }

  .desktop-view.slds-page-header__controls,
  .desktop-view.slds-page-header__col-controls {
      display: none;
  }

  .open-menu-curtain.vs-body-visible .open-menu-list {
      bottom: -57%;
      opacity: 1;
      visibility: visible;
      transition: all ease 1s;
  }

  .open-menu-curtain.vs-body-visible {
      opacity: 1;
      visibility: visible;
      height: 100%;
      transition: all ease 0.8s;
  }
  */

  .kt_checklist__my-checklist .slds-vertical-tabs,
  .kt_checklist__empty-state-vrtl.slds-vertical-tabs {
      flex-direction: column;
      gap: 32px;
  }

  .kt_checklist__my-checklist .slds-vertical-tabs__nav,
  .kt_checklist__my-checklist .slds-vertical-tabs__content,
  .kt_checklist__empty-state-vrtl .slds-vertical-tabs__nav,
  .kt_checklist .slds-vertical-tabs__content {
      width: 100%;
  }

  .kt_checklist__my-checklist .slds-vertical-tabs__content,
  .kt_checklist__my-checklist .slds-vertical-tabs__content {
      margin-left: 0;
      padding: 24px 16px;
  }

  /* Commented on DT 13 Nov 2024 as we are not using
  .vrtl-bar #progress-bar-label-id-3 {
      width: 25%;
      gap: 10px;
  }
  */

  .checklist,
  .kt_checklist__empty-state,
  .vrtl-tab-content {
      height: 100%;

  }
}

@media (max-width: 567px) {
  /* Commented on DT 13 Nov 2024 as we are not using
  .checklist-2 {
      align-items: flex-end;
  }
  */

  .kt_checklist__dialog_col-1 {
      flex: 1 1 auto;
  }

  .kt_checklist__Accordion-index .slds-accordion__section {
      margin-bottom: 0;
      background-color: var(--bg-clr);
      border: none;
      border-radius: 0;

  }

  .kt_checklist__button {
      padding: 8px;
      font-size: 12px;
  }

  .kt_checklist__button1 {
      padding: 0px 16px;
      font-size: 12px;
  }

  .kt_checklist__index_logo .slds-button {
      width: 29px;
      height: 29px;
  }

  .kt_checklist__Accordion-index {
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
  }

  .kt_checklist__Accordion-index .slds-accordion__list-item {
      border-top: 1px solid var(--clr-3);
  }

  .slds-accordion__list-item:first-child {
      border-top: 0 !important;
  }

  /* Commented on DT 13 Nov 2024 as we are not using
  .checklist-2 .slds-text-heading_medium.slds-text-align_center.slds-text-heading_medium,
  .slds-page-header__title {
      font-size: 14px;
      font-weight: 700;
  }
  */

  .kt_checklist .slds-form-element__label {
      font-size: 12px;
  }

  .kt_checklist__dialog_box,
  .kt_checklist__index_maindiv {
      padding: 24px 16px;
  }

  /* Commented on DT 13 Nov 2024 as we are not using
  .checklist-4 {
      padding: 100px 0 0 0;
  }

  .Tab-main .slds-tabs_default__item {
      width: 50%;
  }

  .refresh-btn {
      display: none;
  }
  */

  .kt_checklist__btn-save button {
      padding: 2px 26px;
      font-size: 12px;
  }
  
  .kt_checklist__navItem_vrtl-accordion-list-item.slds-accordion__list-item {
      padding: 16px 8px;
  }

  .kt_checklist__my-checklist .slds-vertical-tabs__content {
      padding: 24px 0px;
  }

  /* Commented on DT 13 Nov 2024 as we are not using
  .vrtl-bar #progress-bar-label-id-3 {
      width: 100%;
      gap: 10px;
  }
  */
}

@media (max-width: 375px) {
  /* Commented on DT 13 Nov 2024 as we are not using
  .open-menu-list {
      padding: 24px 16px;
  }

  .checklist-4 {
      padding: 0px 0 0 0;
  }
  */

  .kt_checklist__index_maindiv {
      padding: 24px 7px;
  }

  .kt_checklist__index_button-icon {
      margin-right: 0;
  }

  .kt_checklist__button {
      padding: 6px;
  }

  .kt_checklist__details .slds-text-title_bold,
  .kt_checklist__clr-blue {
      font-size: 0.75rem;
  }

}



.kt_checklist__details .kt_checklist__details_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.kt_checklist__details .kt_checklist__details_right-label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.kt_checklist__details .kt_checklist__details_right-label input[type="checkbox"] {
  align-self: flex-end;
}

.kt_checklist__details .kt_checklist__details_description {
  margin-left: 24px;
  display: block;
}

.kt_checklist__details .kt_checklist__details_description a {
  color: var(--clr-1);
}

.kt_checklist__details .kt_checklist__details_rounded-checkbox {
  /* width: 16px;
  height: 16px;
  border-radius: 50%; */
  vertical-align: middle;
  /* border: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none; */
  cursor: pointer;
}
.kt_checklist__details .kt_checklist__details_rounded-checkbox:disabled {
  border-color: rgba(118, 118, 118, 0.3);
  background-color: initial;
  cursor: not-allowed; 
  }
/* .kt_checklist__details .kt_checklist__details_rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
} */






/* Read only template Css start */
.kt_checklist__timeline .slds-timeline__item_expandable.kt_checklist__success-class::before {
  background: #2e844a;
}

.kt_checklist__timeline .slds-timeline__item_expandable.kt_checklist__error-class::before {
  background: #ea001e;
}

.kt_checklist__custom-result-icon {
  background-color: white;
  padding-top: 5px;   
}

.kt_checklist__timeline .kt_checklist__icons .kt_checklist__custom-result-icon {
  background-color: white;
  padding-top: 5px;
}
.kt_checklist__timeline .kt_checklist__icons {
  margin-left: 16px;
}

.kt_checklist__timeline .kt_checklist__icons .kt_checklist__collapsible-button {
  min-width: 5px;
  display: inline-block;
}

.kt_checklist__timeline .kt_checklist__icons .kt_checklist__custom-result-icon {
  background-color: white;
  padding-top: 5px;
}

.kt_checklist__timeline .slds-media__body.kt_checklist__wrapper {
  padding-left: 0;
}

.kt_checklist__timeline .slds-media__body.kt_checklist__wrapper .slds-timeline__trigger:hover {
  background-color: #fff;
}

.kt_checklist__timeline .slds-media__body.kt_checklist__wrapper .kt_checklist__job-step {
  background-color: #fff;
  z-index: 10;
  padding: 5px 0;
  transform: scale(1);
  transition: 1.5s all ease;
}

/*
.kt_checklist__timeline .slds-media__body.kt_checklist__wrapper .kt_checklist__info {
  transform: scale(1);
  transition: 1.5s all ease;
}

.kt_checklist__timeline .slds-media__body.kt_checklist__wrapper .options-menu {
  width: 20px;
} */

.kt_checklist__timeline .slds-media__body.kt_checklist__wrapper .kt_checklist__activity-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0.1rem 1rem;
  min-height: 30px;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
}

.kt_checklist__timeline .slds-media__body.kt_checklist__wrapper .kt_checklist__activity-data .kt_checklist__Completedby {
  width: auto;
  /* margin: 0 0.25rem; */
  align-self: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.kt_checklist__clickable{
  color: #025fb2;
  cursor: pointer;
}

.kt_checklist__timeline .slds-media__body.kt_checklist__wrapper .kt_checklist__activity-data .kt_checklist__Completed-date {
  width: auto;
  align-self: center;
  margin-right: 5px;
}

/*
.kt_checklist__custom-skipped-icon {
  --sds-c-icon-color-foreground-default: #025fb2;
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.kt_checklist__timeline .kt_checklist__icons .kt_checklist__custom-result-spinner {
  margin-left: 22px;
}

.kt_checklist__timeline .kt_checklist__icons .kt_checklist__custom-result-spinner .loading {
  position: absolute;
  top: -2px;
  left: 31px;
  background-color: #fff;
  height: 27px;
  width: 27px;
} */



.kt_checklist__timeline-container {
  position: relative;
}

.kt_checklist__timeline-container ul {
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  max-height: 350px;
}

.kt_checklist__timeline-container .kt_checklist__gradient-mask {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 1.1rem;
  width: calc(100% - 15px);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.kt_checklist__timeline-container ul {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

.kt_checklist__timeline-container ul::-webkit-scrollbar {
  width: 6px;
}

.kt_checklist__timeline-container ul::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 9999px;
}

.kt_checklist__timeline-container ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.kt_checklist__content-overflow {
  overflow-wrap: break-word;
}

.kt_checklist__job-summary-padding {
  padding-left: 36px;
}

/* Read only template Css end */