.Accordion-index .slds-accordion__list-item {
    border-top: none !important;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.button-container {
    flex-grow: 1;
}

.delete-icon {
    align-self: flex-end;
    cursor: pointer;
    margin-top: auto;
}


.icon-clickable {
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 0.25rem;
}


.icon-clickable:hover {
    background-color: #d8d8d8; 
    color: #ba0517; 
}

.icon-clickable:active {
    background-color: #c5c5c5; 
}