.Accordion-index .slds-accordion__list-item {
    border-top: none !important;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    /* padding: 20px; */
}

.button-container {
    flex-grow: 1;
}

.delete-icon {
    align-self: flex-end;
    cursor: pointer;
    margin-top: auto;
}

/* .delete-icon:hover lightning-button-icon {
    filter: brightness(1.5) saturate(2) hue-rotate(330deg);
} */

/* .delete-icon:hover lightning-button-icon {
    color: red;
    filter: drop-shadow(1px 1px 1px red);
} */

.icon-clickable {
    transition: background-color 0.2s ease, color 0.2s ease;
    /* padding: 0.5rem; */
    border-radius: 0.25rem;
}

/* Hover effect similar to SLDS button */
.icon-clickable:hover {
    background-color: #d8d8d8; /* Light gray background on hover */
    color: #ba0517; /* Change icon color on hover */
}

/* Active (onclick) effect similar to SLDS button */
.icon-clickable:active {
    background-color: #c5c5c5; /* Darker gray when clicked */
}