/* Style the button icon */
.slds-is-draggable {
    cursor: grab;
    color: #0070d2; /* Change the icon color as needed */
  }
  
  /* Style the dragged row */
  .dragged-row {
    background-color: #f0f0f0; /* Change the background color of the dragged row */
    transform: scale(1.05); /* Add a scale effect to make it slightly larger */
    transition: background-color 0.3s, transform 0.3s; /* Add a smooth transition */
  }

  .quick-action-panel-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the panel horizontally */
  }
  
.td-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}

.custom-table {
  border-collapse: separate; /* Separate borders for cells */
  border-spacing: 0 20px; /* Spacing between rows */
  width: 100%; /* Ensure table takes full width */
}

.custom-table tr {
  border: 3px solid #dddddd; /* Border for rows */
}

.add-width{
  width: 100%;
}

.button-colourhook{
  --slds-c-button-brand-color-background: #1b96ff; 
  --slds-c-button-brand-color-border: #1b96ff;
}
.button-heighthook{
  --slds-c-button-spacing-block-start: 0.6rem;
  --slds-c-button-spacing-block-end: 0.6rem;
}
.button-save-widthhook{
  --slds-c-button-brand-spacing-inline-start: 3rem;
  --slds-c-button-brand-spacing-inline-end: 3rem;
}
.button-cancel-widthhook{
  --slds-c-button-neutral-spacing-inline-start: 2.7rem;
  --slds-c-button-neutral-spacing-inline-end: 2.7rem;
}

.toggle-colourhook{
  --slds-c-checkbox-toggle-color-background-checked-focus: #1b96ff;
  --slds-c-checkbox-toggle-color-background-checked: #1b96ff;
}

.duplicate-message {
  border-radius: 8px;
  padding: 8px 12px;
  position: relative;
  margin-top: 5px;
  left: 0;
  max-width: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Inherit styles from SLDS for balloon components */
.duplicate-message.slds-balloon {
  background-color: #fcb5b5;
}

.duplicate-message.slds-balloon__dismiss {
  /* Adjust styles for close button icon within the balloon */
  position: relative;
  top: 10%;
  transform: translateY(-50%); /* Center the icon vertically */
  right: 5px;
}

.helptext-icon {
  position: relative;
  /* top: -4px; */
  right: -2px;
}
.help-icon lightning-helptext {
  position: relative;
  right: 10px;
}
@media only screen and (max-width: 768px) {  
  .helptext-icon {
    position: relative;
     top: 8px; 
    right: 10px;
  }
  
}

@media only screen and (max-width: 768px) {
  .mobDevice .slds-grid.slds-gutters,.slds-grid.slds-gutters.mobDevice {
      display: block;
  }
  .mobDevice .slds-col.slds-size_1-of-2,.fullWidthCls {
      width: 100%;
      border-right: none !important;
  }
  .slds-col.slds-size_1-of-2:last-child {
      /*margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid #dddddd;*/
      margin-top: 10px;
      padding-top: 20px;
      border-top: 1px solid #dddddd;

  }
  .marginTop{
    margin-top: 10px;
  }
  
}
@media (min-width: 768px) and (max-width: 1024px){ 
  .template-container {
    background-color: #fff !important;
    padding: 40px;
}
.helptext-icon {
  position: relative;
   /* top: 8px;  */
  right: -2px;
}
}