.test{
    
}


.my-icon {
    /* --slds-c-icon-color-foreground: orange;
    --slds-c-icon-color-background: gray; */
}

/* .my-icon {
    --slds-c-icon-color-foreground-default: orange;
    --slds-c-icon-color-background: gray;
} */