.test{
    
}
@media only screen and (max-width: 768px) {
    .blockDiv{
        display: block;
        margin: 14px 0px;
    }
}

.my-icon {
    /* --slds-c-icon-color-foreground: orange;
    --slds-c-icon-color-background: gray; */
}

/* .my-icon {
    --slds-c-icon-color-foreground-default: orange;
    --slds-c-icon-color-background: gray;
} */